body {
    background:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(./battleship-assets/images/ocean.png);
    background-size: cover;
    color: white;
}
.container {
    height: 100%;
}

/* Welcome page */  
.welcome-form {
    background-color: rgba(255, 255, 255, 0.2);
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 30px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
}
.wrapper {
    padding: 20px;
    margin-top: 15%;
}  
input[type=text] {
    background-color: #f6f6f6;
    border: none;
    padding: 15px 30px;
    text-align: center;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

/* Setup page */
table, tr, td {
    width: 90%;
    margin: auto;
    margin-top: 2em;
    color: white;
    font-size: large;
    font-weight: 700;
    border-collapse: collapse;
}
td {
    width: 15px;
    height: 45px;
    padding: 0;    
    border: 2px solid white;
}
::selection {
    background: none;
  }
::-moz-selection {
    background: none; 
}
.numeration-data, .numeration-row td {
    border: none !important;
}
.fas, .far {
    margin-top: 1em;
    color: white;
    font-size: 1em;
    margin-left: 5px;
}